<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.1//EN" "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <module name="com.puppycrawl.tools.checkstyle.checks.AvoidStarImportCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.ConstantNameCheck">
            <property name="format" value="^[A-Z](_?[A-Z0-9]+)*$"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.DoubleCheckedLockingCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.EmptyBlockCheck">
            <property name="option" value="text"/>
            <property name="severity" value="warning"/>
            <property name="tokens" value="LITERAL_CATCH, LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_IF, LITERAL_FOR, LITERAL_TRY, LITERAL_WHILE, STATIC_INIT"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.EmptyStatementCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.EqualsHashCodeCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.FinalClassCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.HideUtilityClassConstructorCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.IllegalImportCheck">
            <property name="illegalPkgs" value="sun"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.IllegalInstantiationCheck">
            <property name="classes" value="{java.lang.Boolean}"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.JavadocMethodCheck">
            <property name="allowMissingParamTags" value="false"/>
            <property name="allowMissingReturnTag" value="false"/>
            <property name="allowMissingThrowsTags" value="false"/>
            <property name="allowThrowsTagsForSubclasses" value="false"/>
            <property name="allowUndeclaredRTE" value="true"/>
            <property name="scope" value="private"/>
            <property name="severity" value="warning"/>
            <property name="tokens" value="METHOD_DEF, CTOR_DEF"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.JavadocTypeCheck">
            <property name="scope" value="private"/>
            <property name="severity" value="warning"/>
            <property name="tokens" value="CLASS_DEF, INTERFACE_DEF"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.JavadocVariableCheck">
            <property name="scope" value="private"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.LineLengthCheck">
            <property name="ignorePattern" value="^$"/>
            <property name="max" value="100"/>
            <property name="severity" value="warning"/>
            <property name="tabWidth" value="2"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.LocalFinalVariableNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.LocalVariableNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.MemberNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.MethodLengthCheck">
            <property name="max" value="150"/>
            <property name="severity" value="warning"/>
            <property name="tokens" value="METHOD_DEF, CTOR_DEF"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.MethodNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.MissingSwitchDefaultCheck">
            <property name="severity" value="info"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.ModifierOrderCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.NeedBracesCheck">
            <property name="severity" value="error"/>
            <property name="tokens" value="LITERAL_DO, LITERAL_ELSE, LITERAL_IF, LITERAL_FOR, LITERAL_WHILE"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.PackageNameCheck">
            <property name="format" value="^[a-z]+(\.[a-zA-Z_][a-zA-Z0-9_]*)*$"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.ParameterNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.RedundantImportCheck">
            <property name="severity" value="error"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.StaticVariableNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.TabCharacterCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.TypeNameCheck">
            <property name="format" value="^[A-Z][a-zA-Z0-9_]*$"/>
            <property name="severity" value="warning"/>
            <property name="tokens" value="CLASS_DEF, INTERFACE_DEF"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.UnusedImportsCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.VisibilityModifierCheck">
            <property name="packageAllowed" value="false"/>
            <property name="protectedAllowed" value="false"/>
            <property name="publicMemberPattern" value="^serialVersionUID"/>
            <property name="severity" value="warning"/>
        </module>
    </module>
</module>
