@namespace url(http://jfreereport.sourceforge.net/namespaces/layout); /* set default namespace to HTML */
@namespace xml url(http://www.w3.org/XML/1998/namespace);

* {
  -x-liblayout-language: attr("xml|lang");
}

/** todo: An CSS3 parser would accept li::marker instead. */
li-marker {
  margin-right: 1em;
  text-align: right;
  display: inline;
}
