/**
 * The StyleSheet mapping for the flow-parser. The flow xml report format places
 * all control elements into the namespace '../namespaces/report/flow'.
 *
 * During the report processing, the LibLayoutReportTarget adds some control
 * attributes to help the layouter. These attributes are always added to the
 * namespace '../namespaces/engine/flow', regardless what namespace the element
 * itself is in.
 */
@namespace url(http://jfreereport.sourceforge.net/namespaces/engine/flow); /* set default namespace to HTML */
@namespace xml url(http://www.w3.org/XML/1998/namespace);

/**
 * The quoting of the attribute's name constant is an intentional violation
 * of the CSS standard. This forces the 'flute' parser to return the attr(..)
 * function as function object, which enables us to interpret the type
 * parameter.
 */
resource-node {
  content: attr("content", url);
}

external-node {
  content: attr("content", raw);
}

content-node {
  content: "Flow: " attr("content", string);
  display: inline;
}

content-node[isDate=true] {
  content: format(attr("content", date), date);
}

content-node[isDate=true][format] {
  content: format(attr("content", date), date, attr("format",string));
}

content-node[isNumber=true] {
  content: "Flow: " format(attr("content", number), number, "#,##0.00");
}

content-node[isNumber=true][format] {
  content: format(attr("content", number), number, attr("format",string));
}

content-node[isNumber=true][isInteger=true] {
  content: format(attr("content", number), number, "#,##0");
}

content-node[isNumber=true][isInteger=true][format] {
  content: format(attr("content", number), number, attr("format",string));
}

inner-stylesheet {
  display:none;
}

stylesheet {
  display:none;
}

query {
  display: none;
}

configuration {
  display: none;
}

datasource {
  display: none;
}